.icon-accept { background:url('customIcons/accept.png') no-repeat center center; } 
.icon-add { background:url('customIcons/add.png') no-repeat center center; } 
.icon-anchor { background:url('customIcons/anchor.png') no-repeat center center; } 
.icon-app { background:url('customIcons/app.png') no-repeat center center; } 
.icon-app_cascade { background:url('customIcons/app_cascade.png') no-repeat center center; } 
.icon-app_double { background:url('customIcons/app_double.png') no-repeat center center; } 
.icon-app_form { background:url('customIcons/app_form.png') no-repeat center center; } 
.icon-app_form_magnify { background:url('customIcons/app_form_magnify.png') no-repeat center center; } 
.icon-app_side_list { background:url('customIcons/app_side_list.png') no-repeat center center; } 
.icon-app_side_tree { background:url('customIcons/app_side_tree.png') no-repeat center center; } 
.icon-app_view_list { background:url('customIcons/app_view_list.png') no-repeat center center; } 
.icon-arrow_branch { background:url('customIcons/arrow_branch.png') no-repeat center center; } 
.icon-arrow_divide { background:url('customIcons/arrow_divide.png') no-repeat center center; } 
.icon-arrow_down { background:url('customIcons/arrow_down.png') no-repeat center center; } 
.icon-arrow_join { background:url('customIcons/arrow_join.png') no-repeat center center; } 
.icon-arrow_left { background:url('customIcons/arrow_left.png') no-repeat center center; } 
.icon-arrow_merge { background:url('customIcons/arrow_merge.png') no-repeat center center; } 
.icon-arrow_redo { background:url('customIcons/arrow_redo.png') no-repeat center center; } 
.icon-arrow_refresh { background:url('customIcons/arrow_refresh.png') no-repeat center center; } 
.icon-arrow_refresh_small { background:url('customIcons/arrow_refresh_small.png') no-repeat center center; } 
.icon-arrow_right { background:url('customIcons/arrow_right.png') no-repeat center center; } 
.icon-arrow_rotate_anticlockwise { background:url('customIcons/arrow_rotate_anticlockwise.png') no-repeat center center; } 
.icon-arrow_rotate_clockwise { background:url('customIcons/arrow_rotate_clockwise.png') no-repeat center center; } 
.icon-arrow_switch { background:url('customIcons/arrow_switch.png') no-repeat center center; } 
.icon-arrow_turn_left { background:url('customIcons/arrow_turn_left.png') no-repeat center center; } 
.icon-arrow_turn_right { background:url('customIcons/arrow_turn_right.png') no-repeat center center; } 
.icon-arrow_undo { background:url('customIcons/arrow_undo.png') no-repeat center center; } 
.icon-arrow_up { background:url('customIcons/arrow_up.png') no-repeat center center; } 
.icon-asterisk_yellow { background:url('customIcons/asterisk_yellow.png') no-repeat center center; } 
.icon-attach { background:url('customIcons/attach.png') no-repeat center center; } 
.icon-auction-hammer { background:url('customIcons/auction-hammer.png') no-repeat center center; } 
.icon-award_star_gold_1 { background:url('customIcons/award_star_gold_1.png') no-repeat center center; } 
.icon-award_star_gold_2 { background:url('customIcons/award_star_gold_2.png') no-repeat center center; } 
.icon-award_star_gold_3 { background:url('customIcons/award_star_gold_3.png') no-repeat center center; } 
.icon-balance { background:url('customIcons/balance.png') no-repeat center center; } 
.icon-bank { background:url('customIcons/bank.png') no-repeat center center; } 
.icon-basket { background:url('customIcons/basket.png') no-repeat center center; } 
.icon-bell { background:url('customIcons/bell.png') no-repeat center center; } 
.icon-bomb { background:url('customIcons/bomb.png') no-repeat center center; } 
.icon-book { background:url('customIcons/book.png') no-repeat center center; } 
.icon-book_addresses { background:url('customIcons/book_addresses.png') no-repeat center center; } 
.icon-book_open { background:url('customIcons/book_open.png') no-repeat center center; } 
.icon-bricks { background:url('customIcons/bricks.png') no-repeat center center; } 
.icon-building { background:url('customIcons/building.png') no-repeat center center; } 
.icon-calendar-day { background:url('customIcons/calendar-day.png') no-repeat center center; } 
.icon-cancel { background:url('customIcons/cancel.png') no-repeat center center; } 
.icon-car { background:url('customIcons/car.png') no-repeat center center; } 
.icon-cart { background:url('customIcons/cart.png') no-repeat center center; } 
.icon-chart_bar { background:url('customIcons/chart_bar.png') no-repeat center center; } 
.icon-chart_curve { background:url('customIcons/chart_curve.png') no-repeat center center; } 
.icon-chart_line { background:url('customIcons/chart_line.png') no-repeat center center; } 
.icon-chart_organisation { background:url('customIcons/chart_organisation.png') no-repeat center center; } 
.icon-chart_pie { background:url('customIcons/chart_pie.png') no-repeat center center; } 
.icon-clock { background:url('customIcons/clock.png') no-repeat center center; } 
.icon-clock_red { background:url('customIcons/clock_red.png') no-repeat center center; } 
.icon-cog { background:url('customIcons/cog.png') no-repeat center center; } 
.icon-coins { background:url('customIcons/coins.png') no-repeat center center; } 
.icon-comment { background:url('customIcons/comment.png') no-repeat center center; } 
.icon-comments { background:url('customIcons/comments.png') no-repeat center center; } 
.icon-computer { background:url('customIcons/computer.png') no-repeat center center; } 
.icon-connect { background:url('customIcons/connect.png') no-repeat center center; } 
.icon-credit-card-green { background:url('customIcons/credit-card-green.png') no-repeat center center; } 
.icon-credit-card { background:url('customIcons/credit-card.png') no-repeat center center; } 
.icon-cross { background:url('customIcons/cross.png') no-repeat center center; } 
.icon-cut { background:url('customIcons/cut.png') no-repeat center center; } 
.icon-cut_red { background:url('customIcons/cut_red.png') no-repeat center center; } 
.icon-database { background:url('customIcons/database.png') no-repeat center center; } 
.icon-delete { background:url('customIcons/delete.png') no-repeat center center; } 
.icon-disconnect { background:url('customIcons/disconnect.png') no-repeat center center; } 
.icon-disk { background:url('customIcons/disk.png') no-repeat center center; } 
.icon-disk_multiple { background:url('customIcons/disk_multiple.png') no-repeat center center; } 
.icon-door_out { background:url('customIcons/door_out.png') no-repeat center center; } 
.icon-drive { background:url('customIcons/drive.png') no-repeat center center; } 
.icon-drive_user { background:url('customIcons/drive_user.png') no-repeat center center; } 
.icon-drive_web { background:url('customIcons/drive_web.png') no-repeat center center; } 
.icon-email { background:url('customIcons/email.png') no-repeat center center; } 
.icon-error { background:url('customIcons/error.png') no-repeat center center; } 
.icon-exclamation { background:url('customIcons/exclamation.png') no-repeat center center; } 
.icon-eye { background:url('customIcons/eye.png') no-repeat center center; } 
.icon-female { background:url('customIcons/female.png') no-repeat center center; } 
.icon-flag_blue { background:url('customIcons/flag_blue.png') no-repeat center center; } 
.icon-flag_green { background:url('customIcons/flag_green.png') no-repeat center center; } 
.icon-flag_orange { background:url('customIcons/flag_orange.png') no-repeat center center; } 
.icon-flag_pink { background:url('customIcons/flag_pink.png') no-repeat center center; } 
.icon-flag_purple { background:url('customIcons/flag_purple.png') no-repeat center center; } 
.icon-flag_red { background:url('customIcons/flag_red.png') no-repeat center center; } 
.icon-flag_yellow { background:url('customIcons/flag_yellow.png') no-repeat center center; } 
.icon-group { background:url('customIcons/group.png') no-repeat center center; } 
.icon-heart { background:url('customIcons/heart.png') no-repeat center center; } 
.icon-help { background:url('customIcons/help.png') no-repeat center center; } 
.icon-hourglass { background:url('customIcons/hourglass.png') no-repeat center center; } 
.icon-house { background:url('customIcons/house.png') no-repeat center center; } 
.icon-image { background:url('customIcons/image.png') no-repeat center center; } 
.icon-images { background:url('customIcons/images.png') no-repeat center center; } 
.icon-information { background:url('customIcons/information.png') no-repeat center center; } 
.icon-key { background:url('customIcons/key.png') no-repeat center center; } 
.icon-lightbulb { background:url('customIcons/lightbulb.png') no-repeat center center; } 
.icon-lightbulb_off { background:url('customIcons/lightbulb_off.png') no-repeat center center; } 
.icon-lightning { background:url('customIcons/lightning.png') no-repeat center center; } 
.icon-link { background:url('customIcons/link.png') no-repeat center center; } 
.icon-link_break { background:url('customIcons/link_break.png') no-repeat center center; } 
.icon-lock { background:url('customIcons/lock.png') no-repeat center center; } 
.icon-lock_open { background:url('customIcons/lock_open.png') no-repeat center center; } 
.icon-lorry { background:url('customIcons/lorry.png') no-repeat center center; } 
.icon-magnifier { background:url('customIcons/magnifier.png') no-repeat center center; } 
.icon-male { background:url('customIcons/male.png') no-repeat center center; } 
.icon-map { background:url('customIcons/map.png') no-repeat center center; } 
.icon-medal_gold_1 { background:url('customIcons/medal_gold_1.png') no-repeat center center; } 
.icon-medal_gold_2 { background:url('customIcons/medal_gold_2.png') no-repeat center center; } 
.icon-medal_gold_3 { background:url('customIcons/medal_gold_3.png') no-repeat center center; } 
.icon-money { background:url('customIcons/money.png') no-repeat center center; } 
.icon-money_dollar { background:url('customIcons/money_dollar.png') no-repeat center center; } 
.icon-money_euro { background:url('customIcons/money_euro.png') no-repeat center center; } 
.icon-money_pound { background:url('customIcons/money_pound.png') no-repeat center center; } 
.icon-money_yen { background:url('customIcons/money_yen.png') no-repeat center center; } 
.icon-monitor { background:url('customIcons/monitor.png') no-repeat center center; } 
.icon-new { background:url('customIcons/new.png') no-repeat center center; } 
.icon-note { background:url('customIcons/note.png') no-repeat center center; } 
.icon-page { background:url('customIcons/page.png') no-repeat center center; } 
.icon-page_green { background:url('customIcons/page_green.png') no-repeat center center; } 
.icon-page_red { background:url('customIcons/page_red.png') no-repeat center center; } 
.icon-printer { background:url('customIcons/printer.png') no-repeat center center; } 
.icon-printer_empty { background:url('customIcons/printer_empty.png') no-repeat center center; } 
.icon-rainbow { background:url('customIcons/rainbow.png') no-repeat center center; } 
.icon-rosette { background:url('customIcons/rosette.png') no-repeat center center; } 
.icon-ruby { background:url('customIcons/ruby.png') no-repeat center center; } 
.icon-server { background:url('customIcons/server.png') no-repeat center center; } 
.icon-server_chart { background:url('customIcons/server_chart.png') no-repeat center center; } 
.icon-server_database { background:url('customIcons/server_database.png') no-repeat center center; } 
.icon-shield { background:url('customIcons/shield.png') no-repeat center center; } 
.icon-sound { background:url('customIcons/sound.png') no-repeat center center; } 
.icon-star { background:url('customIcons/star.png') no-repeat center center; } 
.icon-status_offline { background:url('customIcons/status_offline.png') no-repeat center center; } 
.icon-status_online { background:url('customIcons/status_online.png') no-repeat center center; } 
.icon-stop { background:url('customIcons/stop.png') no-repeat center center; } 
.icon-tag_blue { background:url('customIcons/tag_blue.png') no-repeat center center; } 
.icon-tag_green { background:url('customIcons/tag_green.png') no-repeat center center; } 
.icon-tag_orange { background:url('customIcons/tag_orange.png') no-repeat center center; } 
.icon-tag_pink { background:url('customIcons/tag_pink.png') no-repeat center center; } 
.icon-tag_purple { background:url('customIcons/tag_purple.png') no-repeat center center; } 
.icon-tag_red { background:url('customIcons/tag_red.png') no-repeat center center; } 
.icon-tag_yellow { background:url('customIcons/tag_yellow.png') no-repeat center center; } 
.icon-telephone { background:url('customIcons/telephone.png') no-repeat center center; } 
.icon-television { background:url('customIcons/television.png') no-repeat center center; } 
.icon-thumb_down { background:url('customIcons/thumb_down.png') no-repeat center center; } 
.icon-thumb_up { background:url('customIcons/thumb_up.png') no-repeat center center; } 
.icon-tick { background:url('customIcons/tick.png') no-repeat center center; } 
.icon-time { background:url('customIcons/time.png') no-repeat center center; } 
.icon-user { background:url('customIcons/user.png') no-repeat center center; } 
.icon-user_comment { background:url('customIcons/user_comment.png') no-repeat center center; } 
.icon-user_female { background:url('customIcons/user_female.png') no-repeat center center; } 
.icon-user_gray { background:url('customIcons/user_gray.png') no-repeat center center; } 
.icon-user_green { background:url('customIcons/user_green.png') no-repeat center center; } 
.icon-user_orange { background:url('customIcons/user_orange.png') no-repeat center center; } 
.icon-user_red { background:url('customIcons/user_red.png') no-repeat center center; } 
.icon-user_suit { background:url('customIcons/user_suit.png') no-repeat center center; } 
.icon-vcard { background:url('customIcons/vcard.png') no-repeat center center; } 
.icon-world { background:url('customIcons/world.png') no-repeat center center; } 
.icon-wrench { background:url('customIcons/wrench.png') no-repeat center center; } 
.icon-wrench_orange { background:url('customIcons/wrench_orange.png') no-repeat center center; } 
.icon-zoom { background:url('customIcons/zoom.png') no-repeat center center; } 
