@{
    
}

<table id="tt" class="easyui-datagrid" style="width:100%;height:500px"
        url="Index"
        title="菜单列表" 
        iconCls="icon-save"
        rownumbers="true" 
        pagination="true" 
    >
    <thead>
        <tr>
            @*<th checkbox="true"></th>*@
            <th field="Name" width="80" align="center">名称</th>
            <th field="MenuType" width="80" formatter="ToMenuTypeName" align="center">菜单类型</th>
            <th field="Url" width="200" align="center">URL</th>
            <th field="Describe" width="200" align="center">描述</th>
            <th field="Sort" width="60" align="center">排序</th>
            <th field="State" width="60" align="center">状态</th>
            <th field="AddTime" width="160" align="center">添加时间</th>
        </tr>
    </thead>
</table>

@section Scripts{
<script>
    function ToMenuTypeName(value, row, index)
    {
        switch (value) {
            case 1:
                return "导航";
                break;
            case 2:
                return "菜单";
                break;
            case 3:
                return "按钮";
                break;
        }
    }

</script>
}