<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/Content/JS/Plugins/EasyUI/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/Content/JS/Plugins/EasyUI/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/customIcons.css">
		
	<script type="text/javascript" src="/Content/JS/Plugins/EasyUI/jquery.min.js"></script>
	<script type="text/javascript" src="/Content/JS/Plugins/EasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/Content/JS/Plugins/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/Content/JS/Custom/Utils.js"></script>
    <script type="text/javascript" src="/Content/JS/Custom/Common.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
