@{
    //Layout = null;
    string message = ViewBag.message;
    string title = ViewBag.title;
    bool isWindow = ViewBag.isWindow;
    SortedDictionary<string, string> links = ViewBag.links;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>@(title)</title>
    <link href="/Content/css/Error/css/error.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="error_box">
        <i class="fa fa-check" style="color:green;"></i>
        <div class="error_box2">
            <span class="sp01" style="color:green;">@(title)</span>
            <span class="sp02">信息：@(message)</span>
            <span class="sp04">时间：@(DateTime.Now)</span>
            <span class="sp05">请点击：
            @if (links != null)
            {
                foreach (var item in links)
                {
                    <a href="@(item.Value)" >@(item.Key)</a>
                }
            }
            @if (isWindow)
            {
                @:<a href="javascript: void(0);" onclick="CloseWindow()">关闭窗口</a>
            }
            </span>
        </div>
    </div>
</body>
<script>
    function CloseWindow()
    {
        var id = $(".window-body").attr("id");
        $("#" + id).window('close');
    }
</script>
</html>