.icon-anchor { background:url('Icons/图标/anchor.png') no-repeat center center; } 
.icon-app { background:url('Icons/图标/app.png') no-repeat center center; } 
.icon-app_cascade { background:url('Icons/图标/app_cascade.png') no-repeat center center; } 
.icon-app_double { background:url('Icons/图标/app_double.png') no-repeat center center; } 
.icon-app_form { background:url('Icons/图标/app_form.png') no-repeat center center; } 
.icon-app_form_magnify { background:url('Icons/图标/app_form_magnify.png') no-repeat center center; } 
.icon-app_side_list { background:url('Icons/图标/app_side_list.png') no-repeat center center; } 
.icon-app_side_tree { background:url('Icons/图标/app_side_tree.png') no-repeat center center; } 
.icon-app_view_list { background:url('Icons/图标/app_view_list.png') no-repeat center center; } 
.icon-asterisk_yellow { background:url('Icons/图标/asterisk_yellow.png') no-repeat center center; } 
.icon-attach { background:url('Icons/图标/attach.png') no-repeat center center; } 
.icon-auction-hammer { background:url('Icons/图标/auction-hammer.png') no-repeat center center; } 
.icon-award_star_gold_3 { background:url('Icons/图标/award_star_gold_3.png') no-repeat center center; } 
.icon-balance { background:url('Icons/图标/balance.png') no-repeat center center; } 
.icon-bank { background:url('Icons/图标/bank.png') no-repeat center center; } 
.icon-basket { background:url('Icons/图标/basket.png') no-repeat center center; } 
.icon-bell { background:url('Icons/图标/bell.png') no-repeat center center; } 
.icon-bomb { background:url('Icons/图标/bomb.png') no-repeat center center; } 
.icon-book { background:url('Icons/图标/book.png') no-repeat center center; } 
.icon-book_addresses { background:url('Icons/图标/book_addresses.png') no-repeat center center; } 
.icon-book_open { background:url('Icons/图标/book_open.png') no-repeat center center; } 
.icon-bricks { background:url('Icons/图标/bricks.png') no-repeat center center; } 
.icon-building { background:url('Icons/图标/building.png') no-repeat center center; } 
.icon-calendar-day { background:url('Icons/图标/calendar-day.png') no-repeat center center; } 
.icon-car { background:url('Icons/图标/car.png') no-repeat center center; } 
.icon-cart { background:url('Icons/图标/cart.png') no-repeat center center; } 
.icon-chart_bar { background:url('Icons/图标/chart_bar.png') no-repeat center center; } 
.icon-chart_curve { background:url('Icons/图标/chart_curve.png') no-repeat center center; } 
.icon-chart_line { background:url('Icons/图标/chart_line.png') no-repeat center center; } 
.icon-chart_organisation { background:url('Icons/图标/chart_organisation.png') no-repeat center center; } 
.icon-chart_pie { background:url('Icons/图标/chart_pie.png') no-repeat center center; } 
.icon-clock { background:url('Icons/图标/clock.png') no-repeat center center; } 
.icon-clock_red { background:url('Icons/图标/clock_red.png') no-repeat center center; } 
.icon-cog { background:url('Icons/图标/cog.png') no-repeat center center; } 
.icon-coins { background:url('Icons/图标/coins.png') no-repeat center center; } 
.icon-comment { background:url('Icons/图标/comment.png') no-repeat center center; } 
.icon-comments { background:url('Icons/图标/comments.png') no-repeat center center; } 
.icon-computer { background:url('Icons/图标/computer.png') no-repeat center center; } 
.icon-connect { background:url('Icons/图标/connect.png') no-repeat center center; } 
.icon-credit-card-green { background:url('Icons/图标/credit-card-green.png') no-repeat center center; } 
.icon-credit-card { background:url('Icons/图标/credit-card.png') no-repeat center center; } 
.icon-database { background:url('Icons/图标/database.png') no-repeat center center; } 
.icon-delete { background:url('Icons/图标/delete.png') no-repeat center center; } 
.icon-disconnect { background:url('Icons/图标/disconnect.png') no-repeat center center; } 
.icon-disk { background:url('Icons/图标/disk.png') no-repeat center center; } 
.icon-drive { background:url('Icons/图标/drive.png') no-repeat center center; } 
.icon-drive_user { background:url('Icons/图标/drive_user.png') no-repeat center center; } 
.icon-drive_web { background:url('Icons/图标/drive_web.png') no-repeat center center; } 
.icon-email { background:url('Icons/图标/email.png') no-repeat center center; } 
.icon-error { background:url('Icons/图标/error.png') no-repeat center center; } 
.icon-flag_blue { background:url('Icons/图标/flag_blue.png') no-repeat center center; } 
.icon-group { background:url('Icons/图标/group.png') no-repeat center center; } 
.icon-heart { background:url('Icons/图标/heart.png') no-repeat center center; } 
.icon-help { background:url('Icons/图标/help.png') no-repeat center center; } 
.icon-hourglass { background:url('Icons/图标/hourglass.png') no-repeat center center; } 
.icon-image { background:url('Icons/图标/image.png') no-repeat center center; } 
.icon-images { background:url('Icons/图标/images.png') no-repeat center center; } 
.icon-key { background:url('Icons/图标/key.png') no-repeat center center; } 
.icon-lightbulb { background:url('Icons/图标/lightbulb.png') no-repeat center center; } 
.icon-lightbulb_off { background:url('Icons/图标/lightbulb_off.png') no-repeat center center; } 
.icon-lightning { background:url('Icons/图标/lightning.png') no-repeat center center; } 
.icon-lorry { background:url('Icons/图标/lorry.png') no-repeat center center; } 
.icon-map { background:url('Icons/图标/map.png') no-repeat center center; } 
.icon-medal_gold_2 { background:url('Icons/图标/medal_gold_2.png') no-repeat center center; } 
.icon-mobile_phone { background:url('Icons/图标/mobile_phone.png') no-repeat center center; } 
.icon-money { background:url('Icons/图标/money.png') no-repeat center center; } 
.icon-money_dollar { background:url('Icons/图标/money_dollar.png') no-repeat center center; } 
.icon-money_yen { background:url('Icons/图标/money_yen.png') no-repeat center center; } 
.icon-monitor { background:url('Icons/图标/monitor.png') no-repeat center center; } 
.icon-page { background:url('Icons/图标/page.png') no-repeat center center; } 
.icon-rainbow { background:url('Icons/图标/rainbow.png') no-repeat center center; } 
.icon-redo { background:url('Icons/图标/redo.png') no-repeat center center; } 
.icon-rosette { background:url('Icons/图标/rosette.png') no-repeat center center; } 
.icon-ruby { background:url('Icons/图标/ruby.png') no-repeat center center; } 
.icon-server { background:url('Icons/图标/server.png') no-repeat center center; } 
.icon-server_chart { background:url('Icons/图标/server_chart.png') no-repeat center center; } 
.icon-server_database { background:url('Icons/图标/server_database.png') no-repeat center center; } 
.icon-shield { background:url('Icons/图标/shield.png') no-repeat center center; } 
.icon-star { background:url('Icons/图标/star.png') no-repeat center center; } 
.icon-tag_blue { background:url('Icons/图标/tag_blue.png') no-repeat center center; } 
.icon-time { background:url('Icons/图标/time.png') no-repeat center center; } 
.icon-undo { background:url('Icons/图标/undo.png') no-repeat center center; } 
.icon-user { background:url('Icons/图标/user.png') no-repeat center center; } 
.icon-user_comment { background:url('Icons/图标/user_comment.png') no-repeat center center; } 
.icon-user_female { background:url('Icons/图标/user_female.png') no-repeat center center; } 
.icon-user_gray { background:url('Icons/图标/user_gray.png') no-repeat center center; } 
.icon-user_suit { background:url('Icons/图标/user_suit.png') no-repeat center center; } 
.icon-vcard { background:url('Icons/图标/vcard.png') no-repeat center center; } 
.icon-world { background:url('Icons/图标/world.png') no-repeat center center; } 
.icon-wrench_orange { background:url('Icons/图标/wrench_orange.png') no-repeat center center; } 
.icon-cancel { background:url('Icons/工具栏/cancel.png') no-repeat center center; } 
.icon-edit_add { background:url('Icons/工具栏/edit_add.png') no-repeat center center; } 
.icon-edit_remove { background:url('Icons/工具栏/edit_remove.png') no-repeat center center; } 
.icon-link { background:url('Icons/工具栏/link.png') no-repeat center center; } 
.icon-link_break { background:url('Icons/工具栏/link_break.png') no-repeat center center; } 
.icon-lock { background:url('Icons/工具栏/lock.png') no-repeat center center; } 
.icon-lock_open { background:url('Icons/工具栏/lock_open.png') no-repeat center center; } 
.icon-magnifier { background:url('Icons/工具栏/magnifier.png') no-repeat center center; } 
.icon-marker { background:url('Icons/工具栏/marker.png') no-repeat center center; } 
.icon-ok { background:url('Icons/工具栏/ok.png') no-repeat center center; } 
.icon-pencil { background:url('Icons/工具栏/pencil.png') no-repeat center center; } 
.icon-print { background:url('Icons/工具栏/print.png') no-repeat center center; } 
