.color-blue { color: #4b8df8 !important;}
.color-red {color: #e02222 !important;  }
.color-yellow {color: #ffb848 !important;  }
.color-green {color: #35aa47 !important;  }
.color-purple {color: #852b99 !important;  }
.color-dark {color: #555555 !important;  }
.color-grey {color: #fafafa !important;  }