@{
    
}
<div id="login" class="easyui-window" title="管理后台登录" style="width:380px;height:200px;">
    <form id="datafrom" method="post" action="Login" style="margin:20px;">
        <table cellpadding="5">
            <tr style="text-align:center;">
                <td style="width:80px;">账号：</td>
                <td style="width:260px;"><input name="UserName" value="" class="easyui-textbox" data-options="iconCls:'icon-user_gray',validType:'maxLength[20]',validateOnCreate:false,required:true,width:'100%'" /></td>
            </tr>
            <tr style="text-align:center;">
                <td style="width:80px;">密码：</td>
                <td style="width:260px;"><input name="Password" value="" class="easyui-textbox" data-options="iconCls:'icon-key',type:'password',validType:'maxLength[20]',validateOnCreate:false,required:true,width:'100%'" /></td>
            </tr>
            <tr style="text-align:center;">
                <td colspan="2">
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="javascript:$('#datafrom').submit()">登录</a>
                </td>
            </tr>
        </table>
    </form>
</div>  

@section Scripts{
<script>
    $(function () {
        $("#login").window({
            collapsible: false,
            minimizable: false,
            maximizable: false,
            closable: false,
            closed:false,
            draggable: false,
            resizable:false,
            iconCls: "icon-user_gray"
        });

        $('#datafrom').form({
            onSubmit: function () {
                var isValid = $(this).form('validate');
                return isValid;
            },
            success: function (ajaxText) {
                var ajaxResult = jQuery.parseJSON(ajaxText).data;
                if (ajaxResult.IsSuccess) {
                    window.location.href = "/Home/Index";
                }
                else {
                    $.messager.alert('提示', ajaxResult.Message, "info");
                }
            }
        });
    });

    


</script>
}